html{
  background-color: navy;
}

/* .pic {
 /**background-image: url("https://assetstorev1-prd-cdn.unity3d.com/key-image/8fb98eec-43ce-4024-ba26-918d4b24b779.jpg");
  
}
**/
header {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 60px;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  color: white;
 }

 /* #guessform{
  width: 40%;
  align-content: center;
  font-family: Arial, Helvetica, sans-serif; */

.left{
  width: 25%;
  float: left;
}
.right{
  width: 65%;
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  color: white;
}
.Button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  cursor: pointer;
  background: white;
  color:navy;
}
 .guessLetter {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  cursor: pointer;
  background: white;
  color: black;
  padding: 0%;
}
/*
.correct{
  display: inline-block;
  font-size: 30px;
  padding: 10px;
  text-transform: lowercase;
}
.correctLetters{
  display: inline-block;
  font-size: 30px;
  padding: 10px;
  text-transform: lowercase;
}
.entry {
  display: inline-block;
  font-size: 30px;
  padding: 10px;
  text-transform: lowercase;
}
*/
